@import "tailwindcss";
@plugin "daisyui" {
  themes:
    light --default,
    dark --prefersdark;
}

html[data-theme="dark"] {
  .maplibregl-popup-content {
    @apply text-white bg-gray-800;
  }
}
.maplibregl-popup-close-button {
  @apply px-2;
}
